/Csapat2App/nbproject/private/
/Csapat2App/build/
/Csapat2App/dist/
.DS_Store
/StrategyGame/nbproject/private/
/StrategyGame/build/
StrategyGame/dist
/mavenproject2/target/
/mavenproject2/nbproject/
StrategyGame/target/classes/view
StrategyGame/target/classes/commands
StrategyGame/target/classes/model/common
StrategyGame/target/classes/model/workers
StrategyGame/target/classes/model/extractors
StrategyGame/target/classes/model/field
StrategyGame/target/classes/.netbeans_automatic_build
StrategyGame/target/classes/ResourceLoader.java
StrategyGame/target/classes/model/interfaces
StrategyGame/target/classes/model/map
StrategyGame/target/classes/model/player
StrategyGame/target/classes/model/trainers
StrategyGame/target/classes/model/warriors
StrategyGame/target/classes/model
StrategyGame/target/maven-status
StrategyGame/target/test-classes
StrategyGame/target/classes/resources/ResourceLoader.java
StrategyGame/target/classes/resources/ResourceLoader.class
/StrategyGame/nbproject/
